body {
  font-family: Ubuntu-Bold, Ubuntu-Regular;
  background-color: #e5edf5;
  margin: 0;
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
}

.form-container {
  padding: 300px 200px;
  display: flex;
  max-width: 300px;
  max-height: 900px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}


.steps-sidebar {
  background-image: url('./images/bg-sidebar-desktop.svg'); /* Path to your SVG image */
  background-size: cover; /* Ensure the image covers the entire area */
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  height: 600px;
}


.step {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center vertically */
  margin-bottom: 10px;
  font-size: 12px;
  padding: 1px;
}

.step-number {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 2px solid rgb(129, 172, 230);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  margin-right: 10px;
}

.step-label {
  display: flex;
  flex-direction: column; /* Stack title and name vertically */
}

.step-title {
  font-size: 12px;
  color: #d0cdfd;
  letter-spacing: 2px;
}

.step-name {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 2px; /* Small margin for spacing */
}

.active .step-number {
  background-color: #bfcdfd; /* Light blue background for active step */
  color: #2d2b58;
  border-color: #bfcdfd;
}

.active .step-name {
  color: rgb(255, 255, 255);
}

.active .step-title {
  color: #bfcdfd;
}

.form-content {
padding-left: 50px;
padding-top: 8px;
padding-bottom: 30px;
width: 100%;
}

.form-group{
  padding-bottom: 8px;
  font-size: 12px;
}
