body {
  font-family: 'Ubuntu', sans-serif; /* Use the correct font family */
  background-color: #e5edf5;
  margin: 0;
  padding: 200px;
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
}

.form-container {
  display: flex;
  max-width: 700px !important;
  max-height: 800px !important;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}


.steps-sidebar {
  background-image: url('./images/bg-sidebar-desktop.svg'); /* Path to your SVG image */
  background-size: cover; /* Ensure the image covers the entire area */
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  height: 550px;
}


.step {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center vertically */
  margin-bottom: 10px;
  font-size: 14px;
  padding: 10px;
}

.step-number {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid rgb(129, 172, 230);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  margin-right: 10px;
}

.step-label {
  display: flex;
  flex-direction: column; /* Stack title and name vertically */
}

.step-title {
  font-size: 14px;
  color: #d0cdfd;
  letter-spacing: 1px;
}

.step-name {
  font-size: 14px;
  font-weight: bold;
  margin-top: 1px; /* Small margin for spacing */
}

.active .step-number {
  background-color: #bfcdfd; /* Light blue background for active step */
  color: #2d2b58;
  border-color: #bfcdfd;
}

.active .step-name {
  color: rgb(255, 255, 255);
}

.active .step-title {
  color: #bfcdfd;
}

.form-content {
padding-left: 60px;
padding-top: 20px;
padding-bottom: 30px;
width: 100%;
}

.form-group{
  padding-bottom: 8px;
  font-size: 12px;
}
/* Div for Title and Description */

h2 {
  color: #141144;
  font-size: 24px;
  margin-bottom: 0;
}

p {
  color: #666;
  font-size: 12px;
  padding-bottom: 30px;
  margin-top: 0;
  padding-right: 50px;
}

/* Div for the form input fields */
.form-inputs {
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 2px;
  color: #141144;
}

input {
  width: 75%;
  padding: 8px;
  margin-bottom: 1px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  color: #333;
}

input:focus {
  border-color: #9faff7;
  outline: none;
}

.error {
  color: red;
  display: block; /* Display when there's an error */
  font-size: 8px;
}

/* Div for the button */
.form-footer {
  padding: 70px;
  padding-right: 70px;
}

button {
  background-color: #2d5385 !important;
  border: none;
  border-radius: 8px;
  font-size: 16px !important;
  cursor: pointer;
  float: right;
}

button:hover {
  background-color: #46545e; /* Slightly darker blue on hover */
}